<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtf.admin.mapper.qpplatformdb.OnLineStreamInfoMapper">

    <select id="getOnlineUser" resultType="integer">
        SELECT
            TOP 1 OnLineCountSum
        FROM
            OnLineStreamInfo
        ORDER BY
            InsertDateTime DESC
    </select>

</mapper>