<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.admin.mapper.qpaccountsdb.AccountsInfoMapper">

    <!--查询所有玩家-->
    <select id="findAll" resultType="com.mtf.admin.common.vo.AccountsInfoVO">
        WITH
            temp(id, nickname, level)
        AS (
            SELECT
                id, nickname, 0 AS level
            FROM [AdminManager].[dbo].[agency]
            WHERE id = #{agencyId}
            UNION ALL
            SELECT
                a.id, a.nickname, temp.level + 1
            FROM [AdminManager].[dbo].[agency] a
            INNER JOIN temp ON a.parent_id = temp.id
            WHERE a.deleted = 0 OR a.deleted is null
        )
        SELECT
            ai.*,
            t.nickname AS agencyNickname,
            af.HeadHttp AS customFace,
            gsi.Score AS score,
            gsi.InsureScore AS insureScore
        FROM
            AccountsInfo ai
        INNER JOIN temp t ON ai.SpreaderID = t.id
        LEFT JOIN [QPTreasureDB].[dbo].[GameScoreInfo] gsi ON ai.UserID = gsi.UserID
        LEFT JOIN IndividualDatum af ON ai.UserID = af.UserID
        <where>
            <if test="level != null">
                t.level <![CDATA[<=]]> #{level}
            </if>
            <if test="params.userId != null and params.userId != ''">
                AND ai.UserID = #{params.userId}
            </if>
            <if test="params.nickname != null and params.nickname != ''">
                AND ai.NickName LIKE '%' + #{params.nickname} + '%'
            </if>
            <if test="params.spreaderId != null and params.spreaderId != ''">
                AND ai.SpreaderID = #{params.spreaderId}
            </if>
        </where>
    </select>

    <!--更新金币/房卡-->
    <update id="updatePlus">
        UPDATE
            AccountsInfo
        <set>
            GameID = GameID,
        </set>
        WHERE
            UserID = #{userId}
    </update>

    <!--修改推荐人id-->
    <update id="update">
        UPDATE
            AccountsInfo
        SET
            SpreaderID = #{spreaderID}
        WHERE
            UserID = #{userId}
    </update>

    <!--根据用户id 查询用户-->
    <select id="findOne" resultType="com.mtf.admin.common.vo.AccountsInfoVO">
        SELECT
            ai.UserID AS UserID,
            ai.NickName AS NickName,
            id.HeadHttp AS customFace
        FROM
            AccountsInfo ai
        LEFT JOIN
            IndividualDatum id
        ON
            ai.UserID = id.UserID
        WHERE
            ai.UserID = #{userId}
    </select>

    <update id="updateCoinPlus">
        UPDATE
            [QPTreasureDB].[dbo].[GameScoreInfo]
        SET
            Score += #{quantity}
        WHERE
            UserID = #{userId}
    </update>

    <update id="updateRoomCardPlus">
        UPDATE
            [QPTreasureDB].[dbo].[GameScoreInfo]
        SET
            InsureScore += #{quantity}
        WHERE
            UserID = #{userId}
    </update>

    <select id="getCount" resultType="_int">
        WITH
           temp(id, level)
        AS (
        SELECT
            id, 0 AS level
        FROM [AdminManager].[dbo].[agency]
        WHERE id = #{agencyId}
        UNION ALL
        SELECT
            a.id, temp.level + 1
        FROM [AdminManager].[dbo].[agency] a
        INNER JOIN temp ON a.parent_id = temp.id
        WHERE a.deleted = 0 OR a.deleted is null
        )
        SELECT
            count(*)
        FROM
            AccountsInfo ai
        INNER JOIN temp t ON ai.SpreaderID = t.id
        <where>
            <if test="level != null">
                t.level <![CDATA[<=]]> #{level}
            </if>
        </where>
    </select>

</mapper>