<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtf.admin.mapper.adminmanager.CoinRecordMapper">

    <insert id="save" parameterType="com.mtf.admin.entity.CoinRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            coin_record(
                record_type,
                from_agency_id,
                to_agency_id,
                to_user_id,
                quantity,
                trans_datetime
            )
        VALUES (
                #{record_type},
                #{fromAgencyId},
                #{toAgencyId},
                #{toUserId},
                #{quantity},
                GETDATE()
                )
    </insert>

    <select id="getQuantitySumByFromAgencyId" resultType="_long">
        SELECT
            sum(quantity)
        FROM
            coin_record
        WHERE
            from_agency_id = #{agencyId}
    </select>

</mapper>